*{
   margin: 0%;
   padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {   
    background-color: #55585c;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0  16px;
    font-size: 18px;
}
.cruz-malta{ 
    width: 12%;
}

.vasco{
    background-image: linear-gradient(#55585c,#999ca0 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 59px 0;
}

.vasco-textos{
    width: 35%;
}

.vasco-titulo{
    padding: 24px 0;
}

.taca-liberta{
    width: 20%;
    

}

.titulos-vasco-gama{
    text-align: center;
}